<style>
button {
    background-color: transparent;
    border-radius: 10px;
    color: black;
    text-align: center;
    text-decoration: none;
}
span {
font-size:30px;
font-family:Impact, Charcoal, sans-serif
}
body {
width: 100vw;
height: 100vh;
background: linear-gradient(to left, #ff5100 , #e80000);
}
.blinking{
    animation:blinkingText 5s infinite;
}
@keyframes blinkingText{
    0%{     color: blue;           }
    25%{    color: yellow;        }
    50%{   color: green;          }
    75%{    color: yellow;        }
    100%{     color: blue;           }
}
li {
list-style-type: circle;
}
</style>
<center><span class="blinking">
<form action="/pairs" method="post">
<%pairednames.each do |v| %>
    <li>
    <%v.each do |v|%>
        <%=v.concat(", ")%>
    <%end%><br><br>
</li>
<%end%>
</span>
</center>
<body>
</body>
<center>
<button >Regroup</button>
</center>
<input type="hidden" name="names[]" value="<%=names%>">
</form>

