<style>
input {
  border-radius: 10px;
}
button {
  border-radius: 10px;
}
</style>

<p>Click to start adding names to pair!</p>

<form id="f" method = 'post' action = '/home'>
<div id="box2"></div>
<button type="button" onclick="newInput()">Add Name</button>
 <input type="submit" value="Submit">
 <button type="reset" value="Reset">Reset</button>
</form>

<script>
function newInput() {
    var x = document.createElement("input");
    var f = document.getElementById("f");
    var v = document.getElementById("box2");
    var brk = document.createElement('br');
    x.setAttribute("type", 'text');
    x.setAttribute("name", "names[]");
    x.setAttribute("value", "");
    f.appendChild(x);
    v.appendChild(x);
    v.appendChild(brk);
    }
</script>